@media (max-width: 650px) {
    .contact-heading {
        margin-left: auto;
        margin-right: auto;
    }
    .contact-form {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .left-block {
        margin-right: 0;
        margin-bottom: 16px;
        max-width: 350px;
        width: 100%;;
    }
    .icons-container {
        flex-direction: column;
    }
    .icon-div:nth-child(1),
    .icon-div:nth-child(2) {
        margin-bottom: 15px;
    }
}